<a href="https://colab.research.google.com/github/luis-fer993/CiscoPythonADSI/blob/master/Modulo3Clase23Ago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio


---
calcular el promedio de notas entre un rango de 0-5, obtener el promedio y mostralo.

* Si el promedio es mayor a 3.5 el alumno aprobo de lo contrario reprobo.

In [ ]:
print(4+3.3+2+5)
print(14.3/4)

14.3
3.575

In [ ]:
print('-'*40,'\n\t Promedio de Notas','\n'+'-'*40,'\n')
estudent=input('[+] Ingrese el nombre del estudiante: \n --> ')
print('[+] Ingrese notas en un rango de 0 a 5','\n[+] Para detener ingrese 000','\n')


valor=int(input('Ingrese el numero de notas --> '))

while valor <2:
  print('Ingrese un valor mayor a 1')
  valor=int(input('Ingrese el numero de notas --> '))
    
      
cont=1;sumNotas=0
while cont <= valor:
  notas=float(input('[-] Ingrese nota ({}): --> '.format(cont)))
  while (notas >5) or ( notas <0):
    print('error ingrese notas de 0 a 5')
    notas=float(input('[-] Ingrese nota ({}): --> '.format(cont)))
  if (round(notas,0) == 000):
    break
  
  cont+=1
  sumNotas+=notas
  prom=round(float(sumNotas/(cont-1)),1)
  if prom > 3.5:
    resultado = 'Aprobado'
  else:
    resultado = 'Reprobado'

print('\n\n'+'-'*40,'\n'+'\t  Resultados:','\n'+'-'*40,'\n')
print('El/la estudiante {} esta '.format(estudent),resultado,'\nCon un promedio de notas de :',prom)

In [ ]:
for i in range(2,31):
  print(i)

lista en python

In [ ]:
lista=[1,2,3]
print(len(lista))
constructor=list((1,2,3,4));print(constructor)

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])


thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

#insertar un valor en determinada poscicion sin borrarla moviendolas
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

#Insertar un valor al final de la lista
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

#extiende la lista "thislist" agregandole otra lista 
#podemosinsertar diferntes tipos de datos no solo listas
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

#remove un item de la lista en especifico
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

#remove un index especifico de la lista
thislist = ["apple", "banana", "cherry"]
thislist.pop(1) #si no tiene argumentos elimina el ultimo pop()
print(thislist)

#otra forma de remover item segun si index
thislist = ["apple", "banana", "cherry"]
del thislist[0] #index
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist#remove la lista completamente
#genera error si se llama la variable ya que la elimina

#eliminar todos los items sin eliminar la lista 
#queda una lista vacia []
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)#[]


#iteracion de lista con bucle for
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])


#usando list comprenhension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

3
[1, 2, 3, 4]
cherry
['cherry', 'orange', 'kiwi']

In [ ]:
blocks = int(input("Ingresa el número de bloques: "))

contador=0
altura=0

while contador < blocks:
    for bloaque in range(blocks):
        altura

print("La altura de la pirámide:", height)

### logica de computadora

```python

and # conjuncion
or #disyuncion
not # niega una sentecia 
```

### opearciones bit a bit 

 * &  (ampersand) - conjunción a nivel de  bits.
+ |  (barra vertical) - disyunción a  nivel de bits.
 + ~  (tilde) - negación a nivel de bits.
 ^  (signo de intercalación) - o exclusivo a nivel de bits (xor).

In [ ]:
# metodos vs funciones

#una funcion se ve : resultado =  funcion(argumento)

#un metodo : resultado =  data.method(arg)

In [ ]:
lista=[1,2,3,4,5,6,7,8,9]

for i in lista:
  print(i,'+ ',i+1,'=',i+i+1)

1 +  2 = 3
2 +  3 = 5
3 +  4 = 7
4 +  5 = 9
5 +  6 = 11
6 +  7 = 13
7 +  8 = 15
8 +  9 = 17
9 +  10 = 19

In [ ]:
#sumando todos los numeros de la lista

miLista = [10, 1, 8, 3, 5]
suma = 0

for i in range(len(miLista)):
    suma += miLista[i]

print(suma)

In [ ]:
miLista = [] # creando una lista vacía

for i in range (5):
    miLista.append (i + 1)

print(miLista)

### revertir el orden de los items en la lista

Hemos asignado la variable longitud a la longitud de la lista actual (esto hace que nuestro código sea un poco más claro y más corto).

Hemos lanzado el ciclo for para que se ejecute a través de su cuerpo longitud // 2 veces (esto funciona bien para listas con longitudes pares e impares, porque cuando la lista contiene un número impar de elementos, el del medio permanece intacto).

Hemos intercambiado el elemento i (desde el principio de la lista) por el que tiene un índice igual a (longitud-i-1) (desde el final de la lista); en nuestro ejemplo, for i igual a 0 la (longitud-i-1) da 4; for i igual a 3, da 3: esto es exactamente lo que necesitábamos.

In [ ]:
miLista = [10, 1, 8, 3, 5]
longitud = len(miLista)

for i in range (longitud // 2):
  miLista[i], miLista[longitud-i-1] = miLista[longitud-i-1], miLista[i]

print(miLista)

In [ ]:
#ordenamiento de borbuja


miLista = [8, 10, 6, 2, 4] # lista para ordenar
swapped = True # lo necesitamos verdadero (True) para ingresar al bucle while

while swapped:
    swapped = False # no hay swaps hasta ahora
    for i in range(len(miLista) - 1):#recorre cada item de la lista
        if miLista[i] > miLista[i + 1]:#compara si la poscicion en la que esta es mayor a la siguiente
            swapped= True # cambia el valor ya que se intercambio una poscicion
            miLista[i], miLista[i + 1] = miLista[i + 1], miLista[i]#reasigna los valores de la lista intercambiando la posciocion de el mayor con la de el menor 

print(miLista)

In [ ]:
#forma interactiva de ordenar listas

miLista = []
swapped = True
num = int (input("¿Cuántos elementos deseas ordenar?:"))

for i in range(num):
    val = float(input("Introduce un elemento de la lista:"))
    miLista.append(val)

while swapped:
    swapped = False
    for i in range(len(miLista) - 1):
        if miLista[i] > miLista[i + 1]:
            swapped = True
            miLista[i], miLista[i + 1] = miLista[i + 1], miLista[i]

print("\nOrdenado:")
print(miLista)

In [ ]:
#funcion de ordenamineto 

miLista = [8, 10, 6, 2, 4,7,9,11,15,20]
miLista.sort() #ordena la lista
#reverse = True, como argumento la ordena invertidamente
print(miLista)

miLista.reverse()#invierte las poscicones de la lista

print(miLista)

[2, 4, 6, 7, 8, 9, 10, 11, 15, 20]
[20, 15, 11, 10, 9, 8, 7, 6, 4, 2]
[15, 9]

# Evaluacion mOdulo 3 ejercicios y problemas resultos

In [ ]:
nums=[]
val=nums[:]
val.append(1)
print(nums,val)

[] [1]

In [ ]:
nums=[]
val=nums[]
val.append(1)
print(nums,val)

In [ ]:
lst=[0 for i in range(1,3)]
print(lst)

[0, 0]

In [ ]:
lst=[0,1,2,3]
x=1
for el in lst:
  x*=el

print(x)

0

In [ ]:
x=1
x=x==x
print(x)

True

In [ ]:
i=0
while i <=5:
  i+=1
  if i % 2==0:
    break
  print('+')

+

In [ ]:
for i in range(1):
  print('x')
else:
  print('x')

x
x

In [ ]:
var=1
while var <10:
  print('x')
  var=var<<1

x
x
x
x

In [ ]:
a=1
b=0
c=a&b
d=a|b
e=a^b
print(c+d+e)

2

In [ ]:
lst=[3,1,-2]
print(lst[lst[-1]])

1

In [ ]:
val=[0,1,2]
val.insert(0,1)
del val[1]
print(val)
print(sum(val))

[1, 1, 2]
4

In [ ]:
n=[1,2,3]
val=n
del val[1:2]
print(val,n)

[1, 3] [1, 3]

In [ ]:
l=[1,2,3]
l2=[]
for v in l:
  l2.insert(0,v)#se corren los items
print(l2)

[3, 2, 1]

In [ ]:
lst=[i for i in range(-1,2)]
print(lst)

[-1, 0, 1]

In [ ]:
t=[[3-i for i in range(3)]for j in range(3)]
s=0
for i in range(3):
  s+=t[i][i]

print(s)

6

In [ ]:
lst=[[0,1,2,3] for i in range(2)]
print(lst[2][0])

0

# Objetivos
Familiarizar al estudiante con:

Proyectar y escribir funciones parametrizadas.
Utilizar la instrucción return.
Utilizar las funciones propias del estudiante.
# Escenario
---
Tu tarea es escribir y probar una función que toma dos argumentos (un año y un mes) y devuelve el número de días del mes/año dado (mientras que solo febrero es sensible al valor year, tu función debería ser universal).

---

La parte inicial de la función está lista. Ahora, haz que la función devuelva None si los argumentos no tienen sentido.

Por supuesto, puedes (y debes) utilizar la función previamente escrita y probada (LABORATORIO 4.1.3.6). Puede ser muy útil. Te recomendamos que utilices una lista con los meses. Puedes crearla dentro de la función; este truco acortará significativamente el código.

In [3]:
def is_year_leap(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):return True
    else: return False


def days_in_month(year, month):
  datos= {1:31,2:28,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
  if month<1 or month >12:
    return None
  else:
    if is_year_leap(year) and month==2 :
      return 29
    else:
      return datos[month]

test_years = [1900, 2000, 2016, 1987,2024]
test_months = [2, 2, 2, 11,13]
test_results = [28, 29, 29, 30,None]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	print(yr, mo, "->", end="")
	result = days_in_month(yr, mo)
	if result == test_results[i]:
		print("OK")
	else:
		print("Fallido")

1900 2 ->OK
2000 2 ->OK
2016 2 ->OK
1987 11 ->OK
2024 13 ->OK

In [ ]:
from calendar import monthrange

def days_in_month(year, month):
    return monthrange(year, month)[1]

year = int (input("Escribe un año: "))
month = int (input("Escribe un mes: "))
days_in_month(year, month)
print(days_in_month(year, month))
test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	print(yr, mo, "->", end="")
	result = days_in_month(yr, mo)
	if result == test_results[i]:
		print("OK")
	else:
		print("Fallido")

Escribe un año: 2024
Escribe un mes: 2
29
1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

In [7]:
#ejercicio fechas

def is_year_leap(year):
     if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):return True
     else: return False
    

mes = {1: "Enero",
       2: "Febrero", 
       3: "Marzo", 
       4: "Abril", 
       5: "Mayo", 
       6: "Junio", 
       7: "Julio", 
       8: "Agosto", 
       9: "Septiembre", 
       10: "Octubre", 
       11: "Noviembre", 
       12: "Diciembre"}


def days_in_month(year, month):
    datos = {1: 31,
             2: 28, 
             3: 31, 
             4: 30, 
             5: 31, 
             6: 30,
             7: 31, 
             8: 31, 
             9: 30, 
             10: 31, 
             11: 30, 
             12: 31}
    if month < 1 or month > 12:
        return None
    else:
        if is_year_leap(year) and month == 2:
            return 29
        else:
            return datos[month]


def day_of_year(year, month, day):
    if days_in_month(year, month) == None:
        return None
    else:
        if day > days_in_month(year, month):
            return None
        else:
            diasmes = days_in_month(year, month)
            NTotaldias = 0
            for i in range(1, month):
                NTotaldias += days_in_month(year, i)
            NTotaldias += day
            return '\n\nEl mes de ({} No.{}) del año {} tiene {} días \nY el día {} es el día {} del año'.format(mes[month], month, year, diasmes, day, NTotaldias)


values=[]
data=['año','mes','dia']
for i in range(3):
    values.append(int(input('Ingrese el valor {}: '.format(data[i]))))

print('\n\n',values)

print(day_of_year(values[0], values[1], values[2]))

Ingrese el valor año: 2022
Ingrese el valor mes: 12
Ingrese el valor dia: 31


 [2022, 12, 31]


El mes de (Diciembre No.12) del año 2022 tiene 31 días
Y el día 31 es el día 365 del año